<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Perfil Instructor</title>
</head>
<body class="bg-light">

    <div class="container py-4">

        <section class="text-center mb-4">
            <h2 class="fw-bold"> chedule</h2>
        </section>

        <section class="text-center mb-4">
            <img src="calendario.png" alt="calendario" class="img-fluid rounded shadow">
        </section>

        <section class="card shadow p-3 mb-4">
            <div class="mb-3">
             <p class="text-primary fs-5">11:00</p>
            </div>
            <div class="mb-3">
             <p class="mb-1 fw-semibold">Total Costo</p>
             <p class="mb-0">1 hours</p>
             <p class="text-success fs-5">$50</p>
            </div>
        </section>

        <section class="text-center mb-5">
            <button type="button" class="btn btn-success bg-light">Request class</button>
        </section>

        <section class="botton-nav">
         <nav class="nav">
            <a class="nav-link home" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#">Bookings</a>
            <a class="nav-link" href="#">Messages</a>
            <a class="nav-link" href="#">Profile</a>
         </nav>
        </section>
    
       
    </div>
</body>
</html>