<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Perfil Instructor</title>
</head>
<body class="container">
    <header class="row">
        <i class="fa-solid fa-x col-4"></i>
        <h3 class=" col-4">Instructor Profile</h3>
    </header>
    
    <section class="container">
        <div class="card ">
            <div class="card-body">
                <div class="row justify-content-start">
                    <div class="col-md-2  text-center">
                        <i class="fa-solid fa-circle-user fa-2xl"></i>
                    </div>
                    <div class="col-md-2">
                        <p>Emily Carter</p>
                        <p>Two weeks ago</p>
                    </div>
                </div>
                <div>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div>
                        <p>Sarah was incredibly patient and made me feel comfortable from the start. Her instructions were clear, and I passed my test on the first try!</p>
                    </div>
                    <div class="row justify-content-start">
                        <span class="col-2">
                            <i class="fa-regular fa-thumbs-up"></i>
                        </span>
                        <span class="col-2">
                            <i class="fa-regular fa-thumbs-down"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-body">
                <div class="row justify-content-start">
                    <div class="col-md-2  text-center">
                        <i class="fa-solid fa-circle-user fa-2xl"></i>
                    </div>
                    <div class="col-md-2">
                        <p>David Lee</p>
                        <p>1 month ago</p>
                    </div>
                </div>
                <div>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <div>
                        <p>Sarah is a great instructor, very knowledgeable and helpful. I would recommend her to anyone looking to learn driving</p>
                    </div>
                    <div class="row justify-content-start">
                        <span class="col-2">
                            <i class="fa-regular fa-thumbs-up"></i>
                        </span>
                        <span class="col-2">
                            <i class="fa-regular fa-thumbs-down"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../assets/bs5/js/bootstrap.min.js"></script>
</body>
</html>