<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="icono"></div>
    <div class="especializacion"></div>
    <div class="experiencia"></div>
   <section class="informacion">
        <div class="about"></div>
   </section> 
   <section class="Vehiculos">
        <div class="imagenes">
            <img src="" alt="vehiculo">
        </div>
   </section>
   <section class="hoarios">
    <div class="dias">
        <img src="" alt="calendario">
    </div>
   </section>
</body>
</html>