<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="icono"><img src="" alt="icon"></div>
    <div class="nombre">Alex Ramirez</div>
    <div class="especializacion">Driving Instructor</div>
    <div class="experiencia">5 years experience</div>
   <section class="informacion">
        <div class="about">Alex is a certified driving instructor with a passion for teaching safe driving practices. He specializes in defensive driving and has helped numerous students pass their driving tests</div>
   </section> 
   <section class="Vehiculos">
        <div class="imagenes">
            <img src="sedan.jpg" alt=uhuu"sedan">
            <img src="suv.jpg" alt="suv">
        </div>
   </section>
   <section class="hoarios">
    <div class="dias">
        <div class="d-flex justify-content-center">
            <div
              class="border rounded"
              data-coreui-locale="en-US"
              data-coreui-start-date="2024/02/13"
              data-coreui-toggle="calendar"
            ></div>
          </div>
    </div>
   </section>
</body>
</html>