<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Instructores App</title>
</head>

<body class="text-bg-dark">
<main class="container-fluid">
    <section class="row ">
    
        <div class="col-md-4 col-sm-12 fs-2 bg-info">http://stitch.withgoogle.com/</div>
        <div class="col-4 fs-2 bg-warning d-md-block d-none"> COMO ESTAS</div>
        <div class="col-4 fs-2 bg-danger">CHAU</div>

    </section>
    <section class="form form-login">
        <form class="row g-3">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4">  
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword4">    
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        
    </section>

</main>

    <script src="../assets/bs5/js/bootstrap.min.js"></script>
</body>

</html>