<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <nav>
        <i class="bi bi-arrow-left"></i>
        <h2>Drive Wise</h2>
    </nav>
</head>

<body>
    <main>
        <h1>Welcome back</h1>
        <form>
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Password">
            <a href="#">Forgot password?</a>
            <button type="submit">Log In</button>
        </form>
        <a>Don't have an account? Sing up.
        </a>
    </main>
</body>

</html>