<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DriveWise - Registro</title>
    <link rel="stylesheet" href="./css/login_screen.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>

    <div class="container">
        <div class="header">
            <a href="#" class="back-arrow">&#8592;</a>
            <div class="app-name">DriveWise</div>
        </div>
        <h2>Crea tu cuenta</h2>
        <form action="#" method="post">
            <div class="form-group">
                <input type="text" id="fullname" name="fullname" class="input-field" placeholder="Nombre completo" required>
            </div>
            <div class="form-group">
                <input type="email" id="email" name="email" class="input-field" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" class="input-field" placeholder="Contraseña" required>
            </div>
            <div class="form-group">
                <input type="password" id="confirm-password" name="confirm-password" class="input-field" placeholder="Confirmar contraseña" required>
            </div>
            <button type="submit" class="register-button"><i class="fa fa-user-plus me-4"></i> Registrarse</button>
        </form>
        <div class="login-link">
            ¿Ya tienes una cuenta? <a href="#">Iniciar Sesión</a>
        </div>
    </div>

</body>
</html>